<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054616515023-2uvlg0p0rf4telg7268liauprftl61h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054616515023-2uvlg0p0rf4telg7268liauprftl61h3</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQprElZQ2vU1sBTxi8cLgLBgSEvz_56U</string>
	<key>GCM_SENDER_ID</key>
	<string>1054616515023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarmalar.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-514fb</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-514fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054616515023:ios:c5638e9187059d74ece2ba</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-514fb.firebaseio.com</string>
</dict>
</plist>